.form-heading {
    max-width: 380px;
}

.form-section button, .form-section input, .form-section label {
    margin: 10px 0;
}

.form-section button {
    border-color: var(--color-gray-300);
    border-radius: 6px;
    padding: 3px;
}

.form-section input[type=text] {
    border: 1px solid var(--color-gray-300);
    display: block;
    width: 100%;
    padding: 6px;
    border-radius: 6px;
}

input[type='radio'] {
    accent-color: green;
    transform: scale(1);
}

.gender-option label {
   padding-left: 4px;
}
.down_arrow {
    margin-right: 8px;
}

.field-item input {
    border: 1px solid var(--color-gray-300)
}

.submit_button {
    background-color: var(--color-green-500);
    color: white;
    padding: 8px;
    width: 100%;
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.5s ease;

}

.submit_button:hover {
    background-color: var(--color-green-700);
    cursor: pointer;
}

.terms_condition input {
    accent-color: green
}

.terms_condition input[type='checkbox'] {
    cursor: pointer;
}

span.terms {
    color: var(--color-green-500);
    text-decoration: underline;
}

.icon-image{
    margin-bottom: 10px;
}

.icon-image h1{
    display: flex;
    align-items: center;
    color: var(--green);
}

.icon-image h1 img{
    max-width: 25px;
    margin-right: 10px;
}

form input{
    outline-color: #069f2d38;
}

.form-container{
    max-width: 1060px;
    margin: 40px auto 0;
    box-shadow: 0 0 20px #00000036;
}

.form-wrapper{
    padding: 35px 40px;
}   

.terms{
    font-size: 13px;
}