.login-container{
    max-width: 860px;
    margin: 40px auto 0;
    box-shadow: 0 0 20px #0000005e;
}

.login-container h1{
    font-weight: bold;
    color: var(--green);
    display: flex;
    align-items: center;
}

.login-container h1 img{
    max-width: 25px;
    color: transparent;
    width: 100%;
    height: auto;
    margin-right: 10px;
}

.login-container button {
    background-color: var(--color-green-500);
    color: white;
    padding: 8px;
    width: 100%;
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.login-container button:hover {
    background-color: var(--color-green-700);
    cursor: pointer;
}

.login-container form{
    padding: 50px;
    padding-top: 50%;
}   

input{
    border: 1px solid var(--color-gray-300);
    display: block;
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    outline-color: #069f2d38;
}