.category-container {
    padding: 15px;  
    border: 1px solid #0000002e;
    border-radius: 10px;
}

.cat-item{
    border-bottom: 1px solid #0000002e;
    padding: 10px 0px;
}

.cat-item:first-child{
    padding-top: 0px;
}

.cat-item:last-child{
    border-bottom: none;
    padding-bottom: 0px;
}

.cat-title{
    display: flex;
    align-items: center;
}

.cat-title img{
    max-width: 21px;
    margin-right: 10px;
}