@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --foreground: #0a0a0a;
  --background: #ffffff;
  --dark: #222222;
  --gray: #626262;
  --green: #069f2d;
  --ts-1: 14px;
  --ts-2: 16px;
  --ts-3: 18px;
}

body {
  background: var(--background);
  font-size: var(--ts-1);
  color: var(--foreground);
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.1px;
}

a{
  outline: none;
}

.section{
  margin-bottom: 50px;
}

.section-header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.section-header h1{
  margin-right: 15px;
  font-size: 25px;
  font-weight: 700;
}

.section-header p{
  color: #6262629c;
}