.header-container{
    background-color: #e70a09;
    border-bottom: 1px solid #dee2e6;
}

header{
    display: flex;
    justify-content: space-between;
    font-size: var(--ts-1);
}

header a{
    color: #ffffff;
}

header .links-left a{
    margin-right: 10px;
}